<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="3.1.32" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore" version="3.1.32" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.1.32" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.1.32" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.Design" version="3.1.32" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="3.1.32" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite" version="3.1.32" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite.Core" version="3.1.32" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="3.1.32" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.32" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.32" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.25" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="3.1.32" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="3.1.32" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.8.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.WsTrust" version="6.8.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.8.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens.Saml" version="6.8.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Xml" version="6.8.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net48" />
  <package id="Npgsql" version="4.1.9" targetFramework="net48" />
  <package id="Npgsql.EntityFrameworkCore.PostgreSQL" version="3.1.18" targetFramework="net48" />
  <package id="Sentry" version="4.9.0" targetFramework="net48" />
  <package id="Serilog" version="4.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Debug" version="3.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="6.0.0" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.88.8" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.1.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.1.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.1.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="System.ServiceModel.Duplex" version="4.10.0" targetFramework="net48" />
  <package id="System.ServiceModel.Federation" version="4.8.1" targetFramework="net48" />
  <package id="System.ServiceModel.Http" version="4.10.0" targetFramework="net48" />
  <package id="System.ServiceModel.NetTcp" version="4.10.0" targetFramework="net48" />
  <package id="System.ServiceModel.Primitives" version="4.10.0" targetFramework="net48" />
  <package id="System.ServiceModel.Security" version="4.10.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="net48" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net48" />
  <package id="Tesseract" version="5.2.0" targetFramework="net48" />
  <package id="Tesseract.Drawing" version="5.2.0" targetFramework="net48" />
  <package id="VisioForge.DotNet.Core" version="15.9.65" targetFramework="net48" />
  <package id="VisioForge.DotNet.Core.UI.WinForms" version="15.9.65" targetFramework="net48" />
  <package id="VisioForge.Libs.External" version="15.9.0" targetFramework="net48" />
</packages>